
body {
  display: grid;
  width: 960px;
  height: 700px;
  grid-template-columns: 48, 20px;
  grid-template-rows: 7, 100px;
  border: solid black 2px;
  margin: auto;
}

div {
  text-align: center;
}

#a {
  grid-area: 1 / 1 / 2 / 48;
  background-color: #2f3c4f;

}

#b {
  grid-area: 2 / 1 / 7 / 10;
  background-color: peachpuff;
}

#c {
  grid-area: 2 / 10 / 4 / 29;
  background-color: palevioletred;
}

#d {
  grid-area: 2 / 29 / 4 / 48;
  background-color: rgb(124, 139, 209);
}

#e {
  grid-area: 4 / 10 / 6 / 20;
  background-color: rgb(233, 218, 135);
}

#f {
  grid-area: 4 / 20 / 6 / 29;
  background-color: rgb(233, 150, 135);
}

#g {
  grid-area: 4 / 29 / 6 / 38;
  background-color: rgb(135, 210, 233);
}

#h {
  grid-area: 4 / 38 / 6 / 48;
  background-color: rgb(187, 171, 230);
}

#i {
  grid-area: 6 / 10 / 7 / 48;
  background-color: rgb(66, 134, 64);
}

@media(min-width:768px) {
  body {
    width: 960px;
    margin: auto;
  }

  div {
    text-align: center;
    margin: auto;
    background-color: hsl(308, 53%, 39%);
    border: whitesmoke 1px solid;
  }

  #a {
    height: 100px;
    text-align: center;
    padding-top: 25px;
  }
  
  #b {
    height: 600px;
    width: 200px;
    padding-top: 300px;
    float: left;
    margin-right: 0px;
  }
  
  #c, #d{
    height: 200px;
    width: 380px;
    padding-top: 80px;
    float: left;
  }
  
  #e, #f, #g, #h {
    height: 250px;
    width: 190px;
    padding-top: 100px;
    margin-bottom: 0px;
  }
  
  #i {
    height: 150px;
    width: 760px; 
    margin-top: 0px;
    padding-top: 60px;
    display: inline-block;
  }

}